body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-top {
    background-color: #1C658C;
}

.section-two {
    background-color: #398AB9
}

.section-three {
    background-color: #D8D2CB;
}

hr {
    border-style: none;
    border-top: 5px dotted #EEEEEE;
    width: 7%;
}

p {
    color: #1C658C;
}

h1, h3 {
    color: #398AB9;
}