body {
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}

.section-top {
    background-color: #1C658C;
    padding: 10%;
}

.section-me {
    background-color: #398AB9;
    padding: 5%;
}

.section-skills {
    background-color: #398AB9;
    padding: 5%;
}

.section-projects {
    background-color: #D8D2CB;
    padding: 5%;
}

.house {
    scale: 1.25;
    margin-top: 10%;
}

.majestic {
    margin: 30px auto;
}

h1, h2, h3 {
    color: #EEEEEE;
}

h1 {
    margin-top: 0;
    margin-bottom: 10vh;
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
}


p {
    color: #1C658C;
}

.parallax { 
    height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.divider-1 {
    background-image: url('../images/AntsteroidsCap1.png');
}

.divider-2 {
    background-image: url('../images/IllTechniqueCap1.png');
}

.divider-3 {
    background-image: url('../images/AntsteroidsCap2.png');
}

.skill-img-1 {
    float: left;
    margin-right: 30px;
    width: 15%;
}

.skill-img-2 {
    float: right;
    margin-left: 30px;
    width: 15%;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}